.card {
    margin-bottom: 1.5em;
    border-radius: 1em;
}

.card:last-child {
    margin-bottom: 0;
}

.card__work {
    background-color: var(--Light-red-work);
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: 93% -13%
}

.card__play {
    background-color: var(--Soft-blue);
    background-image: url("../images/icon-play.svg");
    background-repeat: no-repeat;
    background-position: 91.5% -6%
}

.card__study {
    background-color: var(--Light-red-study);
    background-image: url("../images/icon-study.svg");
    background-repeat: no-repeat;
    background-position: 93% -7%
}

.card__exercise {
    background-color: var(--Lime-green);
    background-image: url("../images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-position: 93% -1%
}

.card__social {
    background-color: var(--Violet);
    background-image: url("../images/icon-social.svg");
    background-repeat: no-repeat;
    background-position: 95% -25%
}

.card__self-care {
    background-color: var(--Soft-orange);
    background-image: url("../images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-position: 94% -13%
}

.card__top {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-blue);
    padding: 1.7em 1.5em 1.8em;
    border-radius: 1em;
    /* cursor: pointer; */
}
.card__bottom:hover {
    background-color: hsl(236, 41%, 34%);
}

.card__bottom__title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .35em;
}

.card__bottom__title {
    color: white;
    font-size: 1.18em;
}

.card__bottom__ellipsis {
    cursor: pointer;
    margin-top: .1em;
}

.card__bottom__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__bottom__current-time {
    color: white;
    font-size: 2em;
    font-weight: 300;
}

.card__bottom__previous-time {
    color: var(--Pale-Blue);
    font-size: .94em;
}

@media (min-width: 800px) {
    .card {
        margin: 0;
        border-radius: 0.9em;
    }
    .card__work {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-position: 90% -7%
    }
    .card__play {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        background-position: 88% -3%
    }
    .card__study {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        background-position: 91% -5%
    }
    .card__exercise {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-position: 90% -1%
    }
    .card__social {
        grid-column: 3/ 4;
        grid-row: 2 / 3;
        background-position: 93% -11%
    }
    .card__self-care {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        background-position: 93% -6%
    }
    .card__top {
        padding-top: 1.4em;
        padding-bottom: 1.4em;
    }
    .card__bottom {
        border-radius: 0.9em;
        padding: 1.75em 1.9em 2em 1.9em;
    }
    .card__bottom__title-line {
        margin-bottom: 1.5em;
    }
    .card__bottom__ellipsis {
        margin-top: 0;
    }
    .card__bottom__time {
        flex-direction: column;
        align-items: normal;
    }
    .card__bottom__current-time {
        font-size: 3.5em;
        margin-bottom: 0.14em;
    }
}

