html {
  /* ### Primary */
  --Blue: hsl(246, 80%, 60%);
  /* (work) */
  --Light-red-work: hsl(15, 100%, 70%);
  /* (play) */
  --Soft-blue: hsl(195, 74%, 62%);
  /* (study) */
  --Light-red-study: hsl(348, 100%, 68%);
  /* (exercise) */
  --Lime-green: hsl(145, 58%, 55%);
  /* (social) */
  --Violet: hsl(264, 64%, 52%);
  /* (self care) */
  --Soft-orange: hsl(43, 84%, 65%);

  /* ### Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

body {
  margin: 0;
  /* background-image: url("../design/mobile-design.jpg"); */
}

/* @media (min-width: 800px) {
  body {
    background-image: url("../design/desktop-design.jpg");
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
}